# This crontab fragment contains the commands which must be run every day.
#
# Please change the time of the second event to avoid slashdotting their
# poor IIS server.

MAILTO=noc@example.net

# run every 6 hours 
27  */6  * * *     root   /root/kit-censura/censorship-cron  &> /dev/null

# run every 5 minutes
*/5  *  * * *   root    /root/kit-censura/censorship-cron-pscaiip  &> /dev/null
